Backup to GitHub.json
{"updatedAt":"2026-01-30T08:02:04.123Z","createdAt":"2026-01-29T18:15:09.409Z","id":"yl5-GQNDOWkcHVJqafQER","name":"Backup to GitHub","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"id":"20b4ed4c-b8f8-4fe5-b1ea-c496e512f531","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[0,0]},{"parameters":{"url":"=http://localhost:5678/api/v1/workflows","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"a89dfd8e-8fda-414e-a4f4-8db7b64fe202","name":"Haal Workflows Op","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[224,0],"credentials":{"httpHeaderAuth":{"id":"Shj4KIx7295xm2ye","name":"Header Auth account"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"e5b37ccb-ee72-4e5d-9473-f047ac555be9","name":"Split Workflows","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[448,0]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"Woutercxn","mode":"list","cachedResultName":"Woutercxn","cachedResultUrl":"https://github.com/Woutercxn"},"repository":{"__rl":true,"value":"n8n_wokflows","mode":"list","cachedResultName":"n8n_wokflows","cachedResultUrl":"https://github.com/Woutercxn/n8n_wokflows"},"filePath":"={{ $json.name }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"={{ $json.name }}"},"id":"757f59e6-bcae-4567-9c15-163786e104b8","name":"GitHub - Edit files","type":"n8n-nodes-base.github","typeVersion":1,"position":[672,0],"webhookId":"12fdda50-10f5-46ee-88c2-3d86069cf534","credentials":{"githubApi":{"id":"H0j6CMxlvP0Geo4H","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"Woutercxn","mode":"list","cachedResultName":"Woutercxn","cachedResultUrl":"https://github.com/Woutercxn"},"repository":{"__rl":true,"value":"n8n_wokflows","mode":"list","cachedResultName":"n8n_wokflows","cachedResultUrl":"https://github.com/Woutercxn/n8n_wokflows"},"filePath":"={{ $json.name }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"={{ $json.name }}"},"id":"0ab124be-5925-4cec-9af8-992e5b2a0893","name":"GitHub - Create files","type":"n8n-nodes-base.github","typeVersion":1,"position":[896,0],"webhookId":"12fdda50-10f5-46ee-88c2-3d86069cf534","credentials":{"githubApi":{"id":"H0j6CMxlvP0Geo4H","name":"GitHub account"}},"onError":"continueErrorOutput"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Haal Workflows Op","type":"main","index":0}]]},"Haal Workflows Op":{"main":[[{"node":"Split Workflows","type":"main","index":0}]]},"Split Workflows":{"main":[[{"node":"GitHub - Edit files","type":"main","index":0}]]},"GitHub - Edit files":{"main":[[],[{"node":"GitHub - Create files","type":"main","index":0}]]},"GitHub - Create files":{"main":[[{"node":"GitHub - Edit files","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","timezone":"Europe/Brussels","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a818376f-fded-4542-9cf8-d083f8f58a63","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-29T18:15:09.415Z","createdAt":"2026-01-29T18:15:09.415Z","role":"workflow:owner","workflowId":"yl5-GQNDOWkcHVJqafQER","projectId":"ItKEwjFTAuyrasU4"}],"activeVersion":null,"tags":[]}