Create activities json batch.json
{"updatedAt":"2026-02-04T17:36:21.951Z","createdAt":"2026-02-04T16:48:26.957Z","id":"OL6p4aaRlxsxNE2Zt6biO","name":"Create activities json batch","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const allActivities = [];\n\n// 1. Loop door de batch van 20 items die binnenkomen\nfor (const item of $input.all()) {\n  const activities = item.json.activities;\n  if (activities && Array.isArray(activities)) {\n    for (const act of activities) {\n      // Alleen de nodige velden eruit vissen\n      allActivities.push({\n        id: act.id,\n        deviceId: act.deviceId,\n        timestamp: new Date(act.activityTime * 1000).toLocaleString('nl-BE', { \n  timeZone: 'Europe/Brussels',\n  hour12: false // Zorgt voor 24-uurs notatie\n}),\n        scriptName: act.sourceName || (act.data?.message?.params?.action_name) || 'Unknown Script',\n        status: act.activityResult,\n        outputSnippet: act.message ? act.message.substring(0, 500) : ''\n      });\n    }\n  }\n}\n\n// 2. Datum en Mapstructuur bepalen\nconst now = new Date();\nconst year = now.getFullYear();\nconst month = String(now.getMonth() + 1).padStart(2, '0');\nconst day = String(now.getDate()).padStart(2, '0');\nconst timeString = now.toISOString().replace(/[:.]/g, '-');\nconst fullPath = `Activities/${year}/${month}/${day}/batch_${timeString}.json`;\n\n// 3. Omzetten naar een echt bestand (Binair) om \"double quotes\" te voorkomen\nconst jsonString = JSON.stringify(allActivities, null, 2);\nconst binaryData = Buffer.from(jsonString, 'utf-8');\n\n// 4. Output geven die de Azure node direct begrijpt\nreturn {\n  json: {\n    fileName: fullPath\n  },\n  binary: {\n    data: { // Dit wordt de 'Binary Property' in de volgende stap\n      data: binaryData.toString('base64'),\n      mimeType: 'application/json',\n      fileName: fullPath,\n    }\n  }\n};"},"id":"6998a491-73e9-49f9-b105-cc6366d8961d","name":"Prepare & Clean JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,16]},{"parameters":{"resource":"blob","operation":"create","container":{"__rl":true,"value":"ninjaone-logs","mode":"list","cachedResultName":"ninjaone-logs"},"blobCreate":"={{ $json.fileName }}","options":{},"requestOptions":{}},"type":"n8n-nodes-base.azureStorage","typeVersion":1,"position":[864,88],"id":"3e0028b7-e8ec-4584-b3ec-b910d84b80cb","name":"Create blob","credentials":{"azureStorageSharedKeyApi":{"id":"hYhMqwgFkQ4qo8Jd","name":"Azure Storage account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-256,112],"id":"5def84b0-102e-4930-99e0-d475face3ce2","name":"When Executed by Another Workflow"},{"parameters":{"url":"=https://conxion.rmmservice.eu/v2/device/{{ $json.dev_id }}/activities","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"type","value":"ACTION"},{"name":"status","value":"COMPLETED"}]},"options":{}},"id":"7f5e5fe8-1317-42dd-a1fb-9d3872c6743b","name":"Fetch Actions","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[192,-80],"retryOnFail":true,"credentials":{"oAuth2Api":{"id":"fMwfb51ZmDQhnbXI","name":"NinjaOne"}}},{"parameters":{"url":"=https://conxion.rmmservice.eu/v2/device/{{ $json.dev_id }}/activities","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"type","value":"ACTIONSET"},{"name":"status","value":"START_REQUESTED"}]},"options":{}},"id":"e99d28ed-0641-4b9e-a88c-c06d7310aa6b","name":"Fetch ActionSets","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[192,112],"credentials":{"oAuth2Api":{"id":"fMwfb51ZmDQhnbXI","name":"NinjaOne"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"e598ba8a-5084-48ba-ab76-e421f24d96bd","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[416,16]}],"connections":{"Prepare & Clean JSON":{"main":[[{"node":"Create blob","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Fetch Actions","type":"main","index":0},{"node":"Fetch ActionSets","type":"main","index":0}]]},"Fetch Actions":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Fetch ActionSets":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Create blob":{"main":[[]]},"Merge":{"main":[[{"node":"Prepare & Clean JSON","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"2dd343ad-804e-4276-be3f-48b56d21eb7c","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-04T16:48:26.962Z","createdAt":"2026-02-04T16:48:26.962Z","role":"workflow:owner","workflowId":"OL6p4aaRlxsxNE2Zt6biO","projectId":"ItKEwjFTAuyrasU4"}],"activeVersion":null,"tags":[],"error":"The resource you are requesting could not be found"}