flow_Devices
{"updatedAt":"2026-01-29T16:01:39.780Z","createdAt":"2026-01-29T14:33:28.448Z","id":"WlbimxUbFK98k7kL","name":"flow_Devices","active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"043f8666-738a-488e-9ac2-bcb98f1f50f5","name":"When Executed by Another Workflow"},{"parameters":{"url":"https://eu.ninjarmm.com/v2/devices","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[224,0],"id":"2dfc30e4-e045-4201-889f-22e6e98f19e3","name":"Get Organizations","credentials":{"oAuth2Api":{"id":"fMwfb51ZmDQhnbXI","name":"NinjaOne"}}},{"parameters":{"jsCode":"// Instelling: Welke prefix wil je?\nconst prefix = 'dev_';\n\nreturn $input.all().map(item => {\n  const newJson = {};\n  // Loop door alle velden en plak de prefix ervoor\n  for (const key of Object.keys(item.json)) {\n    newJson[prefix + key] = item.json[key];\n  }\n  return { json: newJson };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0],"id":"90ff809b-7e23-4125-b873-e3eb1d830345","name":"Code in JavaScript"}],"connections":{"Get Organizations":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Organizations","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","timezone":"Europe/Brussels","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"73321e26-16c2-4776-b4b0-a9e673194fc9","activeVersionId":"73321e26-16c2-4776-b4b0-a9e673194fc9","triggerCount":0,"shared":[{"updatedAt":"2026-01-29T14:33:28.452Z","createdAt":"2026-01-29T14:33:28.452Z","role":"workflow:owner","workflowId":"WlbimxUbFK98k7kL","projectId":"ItKEwjFTAuyrasU4"}],"activeVersion":{"updatedAt":"2026-01-29T16:00:41.000Z","createdAt":"2026-01-29T14:34:03.671Z","versionId":"73321e26-16c2-4776-b4b0-a9e673194fc9","workflowId":"WlbimxUbFK98k7kL","nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"043f8666-738a-488e-9ac2-bcb98f1f50f5","name":"When Executed by Another Workflow"},{"parameters":{"url":"https://eu.ninjarmm.com/v2/devices","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[224,0],"id":"2dfc30e4-e045-4201-889f-22e6e98f19e3","name":"Get Organizations","credentials":{"oAuth2Api":{"id":"fMwfb51ZmDQhnbXI","name":"NinjaOne"}}},{"parameters":{"jsCode":"// Instelling: Welke prefix wil je?\nconst prefix = 'dev_';\n\nreturn $input.all().map(item => {\n  const newJson = {};\n  // Loop door alle velden en plak de prefix ervoor\n  for (const key of Object.keys(item.json)) {\n    newJson[prefix + key] = item.json[key];\n  }\n  return { json: newJson };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0],"id":"90ff809b-7e23-4125-b873-e3eb1d830345","name":"Code in JavaScript"}],"connections":{"Get Organizations":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Organizations","type":"main","index":0}]]}},"authors":"Wouter Benoit","name":"Version 73321e26","description":"","autosaved":true},"tags":[]}