flow_Locations
{"updatedAt":"2026-01-29T14:31:19.011Z","createdAt":"2026-01-29T14:30:26.884Z","id":"Zpz5mjzOP1GTBy7V","name":"flow_Locations","active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"6c7f7317-8a14-4df5-a885-8a2309ec20cb","name":"When Executed by Another Workflow"},{"parameters":{"url":"https://eu.ninjarmm.com/v2/locations","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[224,0],"id":"ab6c8d5b-9b24-4f39-90a7-36e74bb1462f","name":"Get Organizations","credentials":{"oAuth2Api":{"id":"fMwfb51ZmDQhnbXI","name":"NinjaOne"}}},{"parameters":{"jsCode":"// Instelling: Welke prefix wil je?\nconst prefix = 'loc_';\n\nreturn $input.all().map(item => {\n  const newJson = {};\n  // Loop door alle velden en plak de prefix ervoor\n  for (const key of Object.keys(item.json)) {\n    newJson[prefix + key] = item.json[key];\n  }\n  return { json: newJson };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0],"id":"a88086d5-87f0-4e23-a62e-bd35ef87bf8b","name":"Code in JavaScript"}],"connections":{"Get Organizations":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Organizations","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"8ffd2dc6-af88-4561-bb10-c1a671bc503f","activeVersionId":"8ffd2dc6-af88-4561-bb10-c1a671bc503f","triggerCount":0,"shared":[{"updatedAt":"2026-01-29T14:30:26.888Z","createdAt":"2026-01-29T14:30:26.888Z","role":"workflow:owner","workflowId":"Zpz5mjzOP1GTBy7V","projectId":"ItKEwjFTAuyrasU4"}],"activeVersion":{"updatedAt":"2026-01-29T16:02:19.000Z","createdAt":"2026-01-29T14:30:52.115Z","versionId":"8ffd2dc6-af88-4561-bb10-c1a671bc503f","workflowId":"Zpz5mjzOP1GTBy7V","nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"6c7f7317-8a14-4df5-a885-8a2309ec20cb","name":"When Executed by Another Workflow"},{"parameters":{"url":"https://eu.ninjarmm.com/v2/locations","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[224,0],"id":"ab6c8d5b-9b24-4f39-90a7-36e74bb1462f","name":"Get Organizations","credentials":{"oAuth2Api":{"id":"fMwfb51ZmDQhnbXI","name":"NinjaOne"}}},{"parameters":{"jsCode":"// Instelling: Welke prefix wil je?\nconst prefix = 'loc_';\n\nreturn $input.all().map(item => {\n  const newJson = {};\n  // Loop door alle velden en plak de prefix ervoor\n  for (const key of Object.keys(item.json)) {\n    newJson[prefix + key] = item.json[key];\n  }\n  return { json: newJson };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0],"id":"a88086d5-87f0-4e23-a62e-bd35ef87bf8b","name":"Code in JavaScript"}],"connections":{"Get Organizations":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Organizations","type":"main","index":0}]]}},"authors":"Wouter Benoit","name":"Version 8ffd2dc6","description":"","autosaved":true},"tags":[]}