flow_Create activities json batch.json
{"updatedAt":"2026-02-06T14:42:27.039Z","createdAt":"2026-02-04T16:48:26.957Z","id":"OL6p4aaRlxsxNE2Zt6biO","name":"flow_Create activities json batch","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const allActivities = [];\n\n// 1. Loop door alle individuele items die binnenkomen (na de Split Out en Filter)\nfor (const item of $input.all()) {\n  // Omdat de data gesplitst is, is item.json nu de activiteit zelf\n  const act = item.json; \n  \n  // Alleen de nodige velden eruit vissen, exact zoals in je oude code\n  allActivities.push({\n    id: act.id,\n    deviceId: act.deviceId,\n    timestamp: new Date(act.activityTime * 1000).toLocaleString('nl-BE', { \n      timeZone: 'Europe/Brussels',\n      hour12: false // Zorgt voor 24-uurs notatie\n    }),\n    scriptName: act.sourceName || (act.data?.message?.params?.action_name) || 'Unknown Script',\n    status: act.activityResult,\n    outputSnippet: act.message ? act.message.substring(0, 500) : ''\n  });\n}\n\n// 2. Datum en Mapstructuur bepalen (ongewijzigd)\nconst now = new Date();\nconst year = now.getFullYear();\nconst month = String(now.getMonth() + 1).padStart(2, '0');\nconst day = String(now.getDate()).padStart(2, '0');\nconst timeString = now.toISOString().replace(/[:.]/g, '-');\nconst fullPath = `Activities/${year}/${month}/${day}/batch_${timeString}.json`;\n\n// 3. Omzetten naar een echt bestand (Binair)\nconst jsonString = JSON.stringify(allActivities, null, 2);\nconst binaryData = Buffer.from(jsonString, 'utf-8');\n\n// 4. Output geven voor de Azure node\nreturn {\n  json: {\n    fileName: fullPath,\n    count: allActivities.length\n  },\n  binary: {\n    data: { // Dit blijft de 'Binary Property' naam voor de Azure node\n      data: binaryData.toString('base64'),\n      mimeType: 'application/json',\n      fileName: fullPath,\n    }\n  }\n};"},"id":"6998a491-73e9-49f9-b105-cc6366d8961d","name":"Prepare & Clean JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[864,-176]},{"parameters":{"resource":"blob","operation":"create","container":{"__rl":true,"value":"ninjaone-logs","mode":"list","cachedResultName":"ninjaone-logs"},"blobCreate":"={{ $json.fileName }}","options":{},"requestOptions":{}},"type":"n8n-nodes-base.azureStorage","typeVersion":1,"position":[1088,-176],"id":"3e0028b7-e8ec-4584-b3ec-b910d84b80cb","name":"Create blob","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"azureStorageSharedKeyApi":{"id":"hYhMqwgFkQ4qo8Jd","name":"Azure Storage account"}}},{"parameters":{"url":"=https://conxion.rmmservice.eu/v2/device/{{ $json.dev_id }}/activities","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"type","value":"ACTION"},{"name":"status","value":"COMPLETED"}]},"options":{}},"id":"7f5e5fe8-1317-42dd-a1fb-9d3872c6743b","name":"Fetch Actions","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-32,-272],"retryOnFail":false,"credentials":{"oAuth2Api":{"id":"fMwfb51ZmDQhnbXI","name":"NinjaOne"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://conxion.rmmservice.eu/v2/device/{{ $json.dev_id }}/activities","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"type","value":"ACTIONSET"},{"name":"newerThan","value":"={{ $json.newerThan }}"},{"name":"status","value":"START_REQUESTED"}]},"options":{}},"id":"e99d28ed-0641-4b9e-a88c-c06d7310aa6b","name":"Fetch ActionSets","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-32,-80],"credentials":{"oAuth2Api":{"id":"fMwfb51ZmDQhnbXI","name":"NinjaOne"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"combine","fieldsToMatchString":"deviceID","joinMode":"keepEverything","options":{}},"id":"e598ba8a-5084-48ba-ab76-e421f24d96bd","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[640,-176]},{"parameters":{"jsCode":"// We gebruiken een lege array om de items die door de filter komen in op te slaan\nconst filteredItems = [];\n\nfor (const item of items) {\n  // n8n onthoudt welk item uit de Split Out hoort bij welk item van de Start node.\n  // We halen de 'dev_after' op uit de ALLEREERSTE node van de subflow via de pairing.\n  const startNodeName = 'Start Getting Data'; // PAS DIT AAN naar de naam van je eerste node\n  const originalInput = $(startNodeName).item; \n  const devAfter = originalInput.json.dev_after;\n\n  // De activiteitstijd van het huidige individuele item\n  const activityTime = item.json.activityTime;\n\n  // Vergelijking\n  if (activityTime > devAfter) {\n    // Optioneel: voeg de filtertijd toe voor controle in de output\n    item.json.debug_filter_applied = devAfter;\n    filteredItems.push(item);\n  }\n}\n\nreturn filteredItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,-272],"id":"58d2fbcb-92fe-40bd-aa75-f50361c1c825","name":"Code in JavaScript"},{"parameters":{"fieldToSplitOut":"activities","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[192,-272],"id":"745a4838-d2c9-4505-b4e7-647578560f23","name":"Split Out"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-256,-176],"id":"5def84b0-102e-4930-99e0-d475face3ce2","name":"Start Getting Data"},{"parameters":{"jsCode":"// We gebruiken een lege array om de items die door de filter komen in op te slaan\nconst filteredItems = [];\n\nfor (const item of items) {\n  // n8n onthoudt welk item uit de Split Out hoort bij welk item van de Start node.\n  // We halen de 'dev_after' op uit de ALLEREERSTE node van de subflow via de pairing.\n  const startNodeName = 'Start Getting Data'; // PAS DIT AAN naar de naam van je eerste node\n  const originalInput = $(startNodeName).item; \n  const devAfter = originalInput.json.dev_after;\n\n  // De activiteitstijd van het huidige individuele item\n  const activityTime = item.json.activityTime;\n\n  // Vergelijking\n  if (activityTime > devAfter) {\n    // Optioneel: voeg de filtertijd toe voor controle in de output\n    item.json.debug_filter_applied = devAfter;\n    filteredItems.push(item);\n  }\n}\n\nreturn filteredItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,-80],"id":"91b29b0e-c90b-43f4-9e00-2d91ac953270","name":"Code in JavaScript1"},{"parameters":{"fieldToSplitOut":"activities","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[192,-80],"id":"741db07b-7d4f-403a-9f6d-c1d3aa194f3b","name":"Split Out1"}],"connections":{"Prepare & Clean JSON":{"main":[[{"node":"Create blob","type":"main","index":0}]]},"Fetch Actions":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Fetch ActionSets":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Create blob":{"main":[[]]},"Merge":{"main":[[{"node":"Prepare & Clean JSON","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Start Getting Data":{"main":[[{"node":"Fetch Actions","type":"main","index":0},{"node":"Fetch ActionSets","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"3999b4dd-b9e6-4481-bb89-a2e4857679d2","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-04T16:48:26.962Z","createdAt":"2026-02-04T16:48:26.962Z","role":"workflow:owner","workflowId":"OL6p4aaRlxsxNE2Zt6biO","projectId":"ItKEwjFTAuyrasU4"}],"activeVersion":null,"tags":[]}