flow_Organizations
{"updatedAt":"2026-01-29T14:31:26.797Z","createdAt":"2026-01-28T17:38:21.512Z","id":"Hc0h186DmDMKQPKQTH-_5","name":"flow_Organizations","active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"2f4222cf-ea5f-47e5-ba38-78cee2728faa","name":"When Executed by Another Workflow"},{"parameters":{"url":"https://eu.ninjarmm.com/v2/organizations","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[224,0],"id":"657844d2-ff97-438a-8b0d-74beb6177c9f","name":"Get Organizations","credentials":{"oAuth2Api":{"id":"fMwfb51ZmDQhnbXI","name":"NinjaOne"}}},{"parameters":{"jsCode":"// Instelling: Welke prefix wil je?\nconst prefix = 'org_';\n\nreturn $input.all().map(item => {\n  const newJson = {};\n  // Loop door alle velden en plak de prefix ervoor\n  for (const key of Object.keys(item.json)) {\n    newJson[prefix + key] = item.json[key];\n  }\n  return { json: newJson };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0],"id":"de960acb-f3a7-49a7-b43c-598f2979175a","name":"Code in JavaScript"}],"connections":{"Get Organizations":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Organizations","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"a187cd89-caaf-4f26-a56b-61293c2976a1","activeVersionId":"a187cd89-caaf-4f26-a56b-61293c2976a1","triggerCount":0,"shared":[{"updatedAt":"2026-01-28T17:38:21.515Z","createdAt":"2026-01-28T17:38:21.515Z","role":"workflow:owner","workflowId":"Hc0h186DmDMKQPKQTH-_5","projectId":"ItKEwjFTAuyrasU4"}],"activeVersion":{"updatedAt":"2026-01-29T16:02:31.000Z","createdAt":"2026-01-29T14:29:23.356Z","versionId":"a187cd89-caaf-4f26-a56b-61293c2976a1","workflowId":"Hc0h186DmDMKQPKQTH-_5","nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"2f4222cf-ea5f-47e5-ba38-78cee2728faa","name":"When Executed by Another Workflow"},{"parameters":{"url":"https://eu.ninjarmm.com/v2/organizations","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[224,0],"id":"657844d2-ff97-438a-8b0d-74beb6177c9f","name":"Get Organizations","credentials":{"oAuth2Api":{"id":"fMwfb51ZmDQhnbXI","name":"NinjaOne"}}},{"parameters":{"jsCode":"// Instelling: Welke prefix wil je?\nconst prefix = 'org_';\n\nreturn $input.all().map(item => {\n  const newJson = {};\n  // Loop door alle velden en plak de prefix ervoor\n  for (const key of Object.keys(item.json)) {\n    newJson[prefix + key] = item.json[key];\n  }\n  return { json: newJson };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0],"id":"de960acb-f3a7-49a7-b43c-598f2979175a","name":"Code in JavaScript"}],"connections":{"Get Organizations":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Organizations","type":"main","index":0}]]}},"authors":"Wouter Benoit","name":"Version a187cd89","description":"","autosaved":true},"tags":[]}