Get all blobs.json
{"updatedAt":"2026-02-06T14:05:18.547Z","createdAt":"2026-02-04T18:17:52.151Z","id":"zXN2uK7igwQ_hgAJ7wTD2","name":"Get all blobs","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,64],"id":"b452d4cd-6570-46d5-a637-1b3dbc5b0f4a","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[880,64],"id":"c481e125-3d37-4d4e-a539-c77df73a8134","name":"Loop Over Items"},{"parameters":{"resource":"blob","operation":"get","container":{"__rl":true,"value":"ninjaone-logs","mode":"list","cachedResultName":"ninjaone-logs"},"blob":{"__rl":true,"value":"={{ $('Loop Over Items').item.json.name }}","mode":"id"},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.azureStorage","typeVersion":1,"position":[1104,-128],"id":"2e081f49-7e7e-45bf-bd0e-f100a81a4e40","name":"Get blob","credentials":{"azureStorageSharedKeyApi":{"id":"hYhMqwgFkQ4qo8Jd","name":"Azure Storage account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1776,48],"id":"bb29366d-c220-4d14-9b19-d3e89243d634","name":"Wait","webhookId":"b1d7f6ab-db1a-416d-840d-1024d10e3f96"},{"parameters":{"jsCode":"const staticData = $getWorkflowStaticData('global');\nstaticData.deviceTimeline = staticData.deviceTimeline || {};\n\nconst activities = $input.item.json.data;\n\nif (activities && Array.isArray(activities)) {\n    activities.forEach(act => {\n        const dId = act.deviceId;\n        if (!dId) return;\n\n        // Tijdstip parsen (Formaat: \"DD/MM/YYYY, HH:mm:ss\")\n        const parts = act.timestamp.split(/[/, :]+/);\n        const dt = new Date(parts[2], parts[1] - 1, parts[0], parts[3], parts[4], parts[5]);\n        const tsValue = dt.getTime();\n\n        if (!staticData.deviceTimeline[dId]) {\n            staticData.deviceTimeline[dId] = {\n                deviceId: dId,\n                first_activity_cet: act.timestamp,\n                last_activity_cet: act.timestamp,\n                firstTs: tsValue,\n                lastTs: tsValue\n            };\n        } else {\n            const entry = staticData.deviceTimeline[dId];\n            if (tsValue < entry.firstTs) {\n                entry.firstTs = tsValue;\n                entry.first_activity_cet = act.timestamp;\n            }\n            if (tsValue > entry.lastTs) {\n                entry.lastTs = tsValue;\n                entry.last_activity_cet = act.timestamp;\n            }\n        }\n    });\n}\n\n// In plaats van alleen een status, geven we nu de hele tabel tot nu toe terug\n// We sorteren deze ook direct op DeviceId voor de leesbaarheid\nreturn Object.values(staticData.deviceTimeline).sort((a, b) => a.deviceId - b.deviceId);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-352],"id":"9a9668ca-4aec-454c-a8aa-22e92febb073","name":"Code in JavaScript"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[1328,-128],"id":"5608b76e-a07f-4f25-847e-114adef1984d","name":"Extract from File"},{"parameters":{"jsCode":"const staticData = $getWorkflowStaticData('global');\n\nconst total = staticData.stats.total || 0;\nconst successCount = staticData.stats.success || 0;\nconst failCount = staticData.stats.failure || 0;\nconst scriptsArray = Object.values(staticData.scripts || {});\n\n// Berekeningen voor het dashboard\nconst summary = {\n    total_activities: total,\n    success_rate: total > 0 ? Math.round((successCount / total) * 100) + \"%\" : \"0%\",\n    successful: successCount,\n    failed: failCount,\n    unique_devices: Object.keys(staticData.devices || {}).length,\n    unique_actions: scriptsArray.length,\n    date_range: `${new Date(staticData.stats.minTs).toLocaleString('nl-BE')} tot ${new Date(staticData.stats.maxTs).toLocaleString('nl-BE')}`,\n    time_saved_hours: (successCount * 5 / 60).toFixed(2) // Stel: 5 min per succesvolle actie\n};\n\n// Formatteer de tabel EXACT zoals in het screenshot\nconst tableRows = scriptsArray.map(s => {\n    const rate = s.count > 0 ? (s.success / s.count * 100) : 0;\n    \n    // Haal de HH:mm tijd uit de laatste run\n    let timeOnly = \"--:--\";\n    if (s.lastTime && s.lastTime.includes(',')) {\n        timeOnly = s.lastTime.split(',')[1].trim().substring(0, 5);\n    }\n\n    return {\n        \"Time\": timeOnly,\n        \"Total Runs\": s.count,\n        \"Success Rate\": rate.toFixed(1) + \"%\",\n        \"Action Name\": s.name,\n        \"Unique Devices\": Object.keys(s.scriptDevices).length,\n        \"_rowClass\": rate < 90 ? 'danger' : 'success'\n    };\n});\n\n// Sorteer op naam (of pas aan naar wens)\ntableRows.sort((a, b) => a[\"Action Name\"].localeCompare(b[\"Action Name\"]));\n\n// We geven beide terug: de summary als eerste item, de tabel als de rest\n// OF (beter voor n8n): we geven de tabel terug en zetten de summary in de JSON van het eerste item.\nreturn tableRows.map((row, index) => {\n    if (index === 0) return { ...row, _summary: summary };\n    return row;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,64],"id":"3ca5f15b-bcb8-4c96-8881-6f9b85b98ee8","name":"Code in JavaScript1"},{"parameters":{"resource":"blob","container":{"__rl":true,"value":"ninjaone-logs","mode":"list","cachedResultName":"ninjaone-logs"},"options":{"filter":"=Activities/{{ $now.format('yyyy/MM/dd') }}/"},"requestOptions":{}},"type":"n8n-nodes-base.azureStorage","typeVersion":1,"position":[448,64],"id":"fc7869d7-3df8-4c96-92d1-2b996afe1a72","name":"Get many blobs","credentials":{"azureStorageSharedKeyApi":{"id":"hYhMqwgFkQ4qo8Jd","name":"Azure Storage account"}}},{"parameters":{"jsCode":"const staticData = $getWorkflowStaticData('global');\n\n// Initialiseer alles\nstaticData.scripts = staticData.scripts || {};\nstaticData.stats = staticData.stats || { total: 0, success: 0, failure: 0, minTs: null, maxTs: null };\nstaticData.devices = staticData.devices || {}; \n\nconst activities = $input.item.json.data;\n\nif (activities && Array.isArray(activities)) {\n    activities.forEach(act => {\n        const name = act.scriptName || \"Onbekend\";\n        const status = act.status === 'SUCCESS';\n        \n        // 1. Algemene Stats\n        staticData.stats.total++;\n        if (status) staticData.stats.success++;\n        else staticData.stats.failure++;\n\n        // 2. Date Range bepalen (Timestamp: \"28/11/2025, 12:00:13\")\n        const parts = act.timestamp.split(/[/, :]+/);\n        const dt = new Date(parts[2], parts[1] - 1, parts[0], parts[3], parts[4], parts[5]);\n        const tsValue = dt.getTime();\n        \n        if (!staticData.stats.minTs || tsValue < staticData.stats.minTs) staticData.stats.minTs = tsValue;\n        if (!staticData.stats.maxTs || tsValue > staticData.stats.maxTs) staticData.stats.maxTs = tsValue;\n\n        // 3. Per Script (voor de tabel)\n        if (!staticData.scripts[name]) {\n            staticData.scripts[name] = {\n                name: name,\n                count: 0,\n                success: 0,\n                lastTime: act.timestamp,\n                lastTs: tsValue,\n                scriptDevices: {}\n            };\n        }\n\n        const s = staticData.scripts[name];\n        s.count++;\n        if (status) s.success++;\n        if (tsValue > s.lastTs) {\n            s.lastTs = tsValue;\n            s.lastTime = act.timestamp;\n        }\n\n        // 4. Unique Devices (Global & Per Script)\n        if (act.deviceId) {\n            staticData.devices[act.deviceId] = true;\n            s.scriptDevices[act.deviceId] = true;\n        }\n    });\n}\n\nreturn { \n    batchStatus: \"Processed\",\n    total_so_far: staticData.stats.total,\n    unique_devices: Object.keys(staticData.devices).length\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,-128],"id":"26bf437c-8957-4a5e-8f6d-22b272a50622","name":"Code in JavaScript2"},{"parameters":{"jsCode":"const staticData = $getWorkflowStaticData('global');\nstaticData.scripts = {};\nstaticData.stats = { total: 0, success: 0, failure: 0 };\nstaticData.devices = {};\nreturn { status: \"Static data reset\" };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,64],"id":"f544a8db-e4ec-4c52-97f8-c014db7b051b","name":"Code in JavaScript3"},{"parameters":{"operation":"convertToHtmlTable","options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1312,64],"id":"db10172a-330f-49c0-8f8d-051f1dd36c7a","name":"HTML"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7b02725a-6cd4-4358-9c55-1cbebdab3d07","leftValue":"={{ $json.name }}","rightValue":"={{ $now.format('yyyy/MM/dd') }}/","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[656,64],"id":"2e9df13a-6c21-4cfa-8a0a-2a5cdc6856d2","name":"Filter"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}],[{"node":"Get blob","type":"main","index":0}]]},"Get blob":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code in JavaScript":{"main":[[]]},"Extract from File":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Get many blobs":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Get many blobs","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"86b6aede-347b-4407-bd2d-3cb24533f20e","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-04T18:17:52.154Z","createdAt":"2026-02-04T18:17:52.154Z","role":"workflow:owner","workflowId":"zXN2uK7igwQ_hgAJ7wTD2","projectId":"ItKEwjFTAuyrasU4"}],"activeVersion":null,"tags":[]}