Get activities in subflows.json
{"updatedAt":"2026-02-06T14:06:15.012Z","createdAt":"2026-02-04T16:50:28.680Z","id":"s6flZKu2lorugdY0uFdc3","name":"Get activities in subflows","active":false,"isArchived":false,"nodes":[{"parameters":{"batchSize":100,"options":{"reset":false}},"id":"edb646dc-6e89-4e87-ab1c-c064280a5ec9","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[176,160]},{"parameters":{"amount":2,"unit":"seconds"},"id":"a6d35243-4902-4968-8b68-ff1435ca5335","name":"Wait 2s","type":"n8n-nodes-base.wait","typeVersion":1,"position":[624,152],"webhookId":"13ce16f6-6d53-46b0-9778-a9620a685a3e"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-720,152],"id":"ae0542a9-784d-4141-9c82-f7906454701e","name":"When clicking ‘Execute workflow’"},{"parameters":{"workflowId":{"__rl":true,"value":"OL6p4aaRlxsxNE2Zt6biO","mode":"list","cachedResultUrl":"/workflow/OL6p4aaRlxsxNE2Zt6biO","cachedResultName":"flow_Create activities json batch"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[400,80],"id":"ea45c70b-2eb9-4d8b-af3e-feab502b7446","name":"Call 'Ninja_Worker'"},{"parameters":{"workflowId":{"__rl":true,"value":"WlbimxUbFK98k7kL","mode":"list","cachedResultUrl":"/workflow/WlbimxUbFK98k7kL","cachedResultName":"flow_Devices"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-272,152],"id":"38ea99e9-e9b2-46c8-a864-7edbf440c67e","name":"Call 'flow_Devices'"},{"parameters":{"jsCode":"const staticData = $getWorkflowStaticData('global');\n\n// 1. Haal de huidige datum op in Brussel (YYYY-MM-DD)\nconst now = new Date();\nconst brusselsDateStr = now.toLocaleDateString('en-CA', {timeZone: 'Europe/Brussels'}); \nconst brusselsToday = new Date(brusselsDateStr);\n\n// 2. Ga naar de dag van gisteren\nconst yesterday = new Date(brusselsToday);\nyesterday.setDate(yesterday.getDate() - 2);\nconst yestStr = yesterday.toLocaleDateString('en-CA'); // Geeft \"YYYY-MM-DD\"\n\n// 3. Bepaal de exacte UTC-timestamps voor Brussels middernacht\n// In de winter (nu) is Brussel UTC+1. In de zomer is het UTC+2.\n// De code hieronder herkent automatisch of we +1 of +2 moeten gebruiken.\nconst getBrusselsEpoch = (dateStr, timeStr) => {\n  const dateObj = new Date(`${dateStr}T${timeStr}`);\n  // We gebruiken een trucje om de offset van Brussel op die specifieke dag te vinden\n  const luxonStr = new Date(`${dateStr}T${timeStr}`).toLocaleString(\"en-US\", {timeZone: \"Europe/Brussels\", timeZoneName: \"short\"});\n  const offset = luxonStr.includes(\"GMT+2\") || luxonStr.includes(\"CEST\") ? \"+02:00\" : \"+01:00\";\n  return Math.floor(Date.parse(`${dateStr}T${timeStr}${offset}`) / 1000);\n};\n\nconst after = getBrusselsEpoch(yestStr, \"00:00:00\");\nconst before = getBrusselsEpoch(yestStr, \"23:59:59\");\n\n// 4. Bepaal het startpunt (Static Data)\n// Als we de workflow voor het eerst draaien, gebruiken we 'after' van gisteren\nconst finalAfter = staticData.lastSuccessfulRun || after;\n\n// 5. Veiligheidscheck\nif (finalAfter >= before) {\n  return [{ json: { skip: true } }];\n}\n\nreturn [{\n  json: {\n    after: finalAfter,\n    before: before,\n    skip: false,\n    readableStart: new Date(finalAfter * 1000).toLocaleString('nl-BE', {timeZone: 'Europe/Brussels'}),\n    readableEnd: new Date(before * 1000).toLocaleString('nl-BE', {timeZone: 'Europe/Brussels'})\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,152],"id":"99e9ec27-6b7f-43d2-9399-f5d867b2ea48","name":"Get before & after"},{"parameters":{"jsCode":"// 1. De rest van de filtering blijft hetzelfde...\nconst allDevices = $input.all();\nconst filteredDevices = allDevices.filter(item => {\n  const lastContact = item.json.dev_lastContact;\n  return lastContact && lastContact >= $('Get before & after').first().json.after;\n});\n\n// 2. Voeg de newerThan (Marker ID) toe aan elk device\nreturn filteredDevices.map(item => {\n  const d = item.json;\n  return {\n    json: {\n      dev_id: d.dev_id,\n      dev_organizationId: d.dev_organizationId,\n      dev_locationId: d.dev_locationId,\n      dev_nodeClass: d.dev_nodeClass,\n      dev_systemName: d.dev_systemName,\n      dev_lastContact: d.dev_lastContact,\n      dev_after: $('Get before & after').first().json.after,\n      dev_before: $('Get before & after').first().json.before\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-48,152],"id":"868cd82e-1b63-4bb7-b2b8-291c184c99ae","name":"Code in JavaScript"}],"connections":{"Split In Batches":{"main":[[],[{"node":"Call 'Ninja_Worker'","type":"main","index":0}]]},"Wait 2s":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get before & after","type":"main","index":0}]]},"Call 'Ninja_Worker'":{"main":[[{"node":"Wait 2s","type":"main","index":0}]]},"Call 'flow_Devices'":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Get before & after":{"main":[[{"node":"Call 'flow_Devices'","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"94a4219c-e5ab-4d9c-b113-089ef651b6f4","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-04T16:50:28.685Z","createdAt":"2026-02-04T16:50:28.685Z","role":"workflow:owner","workflowId":"s6flZKu2lorugdY0uFdc3","projectId":"ItKEwjFTAuyrasU4"}],"activeVersion":null,"tags":[]}