Get all blobs.json
{"updatedAt":"2026-02-04T19:01:52.137Z","createdAt":"2026-02-04T18:17:52.151Z","id":"zXN2uK7igwQ_hgAJ7wTD2","name":"Get all blobs","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"b452d4cd-6570-46d5-a637-1b3dbc5b0f4a","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"blob","container":{"__rl":true,"value":"ninjaone-logs","mode":"list","cachedResultName":"ninjaone-logs"},"returnAll":true,"options":{},"requestOptions":{}},"type":"n8n-nodes-base.azureStorage","typeVersion":1,"position":[224,0],"id":"fc7869d7-3df8-4c96-92d1-2b996afe1a72","name":"Get many blobs","credentials":{"azureStorageSharedKeyApi":{"id":"hYhMqwgFkQ4qo8Jd","name":"Azure Storage account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,0],"id":"c481e125-3d37-4d4e-a539-c77df73a8134","name":"Loop Over Items"},{"parameters":{"resource":"blob","operation":"get","container":{"__rl":true,"value":"ninjaone-logs","mode":"list","cachedResultName":"ninjaone-logs"},"blob":{"__rl":true,"value":"={{ $('Loop Over Items').item.json.name }}","mode":"id"},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.azureStorage","typeVersion":1,"position":[704,16],"id":"2e081f49-7e7e-45bf-bd0e-f100a81a4e40","name":"Get blob","credentials":{"azureStorageSharedKeyApi":{"id":"hYhMqwgFkQ4qo8Jd","name":"Azure Storage account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[912,16],"id":"bb29366d-c220-4d14-9b19-d3e89243d634","name":"Wait","webhookId":"b1d7f6ab-db1a-416d-840d-1024d10e3f96"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many blobs","type":"main","index":0}]]},"Get many blobs":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get blob","type":"main","index":0}]]},"Get blob":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ef292cf7-3fb4-4e2a-a482-6c3b3255623a","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-04T18:17:52.154Z","createdAt":"2026-02-04T18:17:52.154Z","role":"workflow:owner","workflowId":"zXN2uK7igwQ_hgAJ7wTD2","projectId":"ItKEwjFTAuyrasU4"}],"activeVersion":null,"tags":[]}