Get-Ninja-Org S1 Sitetoken.json
{"updatedAt":"2026-02-02T15:39:50.280Z","createdAt":"2026-02-02T14:04:58.542Z","id":"LTECLAl0UR7q9tMsL6J6n","name":"Get-Ninja-Org S1 Sitetoken","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-208],"id":"1f1a37ed-fbe5-4571-be7e-6c4258e2b26d","name":"When clicking ‘Execute workflow’"},{"parameters":{"workflowId":{"__rl":true,"value":"Hc0h186DmDMKQPKQTH-_5","mode":"list","cachedResultUrl":"/workflow/Hc0h186DmDMKQPKQTH-_5","cachedResultName":"flow_Organizations"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[224,-208],"id":"23d36afa-f2da-412a-a7fc-fc56cb1253ff","name":"Call 'flow_Organizations'"},{"parameters":{"url":"=https://euce1-conxion.sentinelone.net/web/api/v2.1/sites","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"name","value":"={{ $json.org_name.trim() }}"}]},"options":{"batching":{"batch":{"batchSize":10,"batchInterval":500}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[448,-208],"id":"b7df6e82-ae31-4249-a4e0-281f29788e07","name":"HTTP Request","credentials":{"httpQueryAuth":{"id":"633PMkb5v9EWNZNd","name":"S1 - API Key"},"httpHeaderAuth":{"id":"7qI0QxpDg0nnI2jb","name":"S1 Header Key"}},"onError":"continueErrorOutput"},{"parameters":{"fields":{"values":[{"name":"Klantnaam","stringValue":"={{ $('Call \\'flow_Organizations\\'').item.json.org_name }}"},{"name":"S1-Accountname","stringValue":"={{ $json.data.sites[0].accountName }}"},{"name":"S1_Site_ID","stringValue":"={{ $json.data.sites[0].id }}"},{"name":"S1_Token","stringValue":"={{ $json.data.sites[0].registrationToken }}"}]},"include":"none","options":{}},"id":"8748cda4-cb5c-4485-a24c-a06564cbced3","name":"Final_List","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[672,-208]},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"S1_Site_ID"},{"fieldName":"Klantnaam"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[896,-208],"id":"57290361-abd9-4300-86fe-b94cab49aa3c","name":"Sort"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Call 'flow_Organizations'","type":"main","index":0}]]},"Call 'flow_Organizations'":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Final_List","type":"main","index":0}]]},"Final_List":{"main":[[{"node":"Sort","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"918a0e3c-14a0-49bf-9ce4-a71a421f65a8","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-02T14:04:58.545Z","createdAt":"2026-02-02T14:04:58.545Z","role":"workflow:owner","workflowId":"LTECLAl0UR7q9tMsL6J6n","projectId":"ItKEwjFTAuyrasU4"}],"activeVersion":null,"tags":[],"error":"The resource you are requesting could not be found"}