Get-CompletedActivitiesPerDevices.json
{"updatedAt":"2026-02-04T16:38:20.527Z","createdAt":"2026-02-04T10:33:22.512Z","id":"X7ZKIIzfSmxVoBqKu5tii","name":"Get-CompletedActivitiesPerDevices","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"8dc198de-2c9c-4451-93eb-74052b61d35f","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-2208,-112]},{"parameters":{"jsCode":"// CONFIGURATIE\nreturn {\n  // Filter instellingen\n  daysBack: 1,\n  maxDeviceId: 999999,\n  \n  // Bereken de 'cutoff' tijd (epoch) voor filtering\n  cutoffEpoch: Math.floor(new Date().setDate(new Date().getDate() - 1) / 1000)\n};"},"id":"4f15abc8-4848-4b92-ae91-343c56ae97f5","name":"Settings","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1984,304]},{"parameters":{"jsCode":"const maxId = $('Settings').first().json.maxDeviceId;\n\n// We filteren op 'dev_id' omdat dat de naam is die uit jouw 'flow_devices' komt\nreturn items.filter(item => item.json.dev_id <= maxId);"},"id":"fabb7ef2-9a10-4cb6-bcc4-a28374da7cfa","name":"Filter MaxID","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1536,304],"alwaysOutputData":false},{"parameters":{"batchSize":20,"options":{}},"id":"69242990-81fc-40bf-b799-304ed5fe3ebd","name":"Batch (20x)","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1312,304]},{"parameters":{"url":"=https://conxion.rmmservice.eu/v2/device/{{ $json.dev_id }}/activities","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"type","value":"ACTION"},{"name":"status","value":"COMPLETED"}]},"options":{}},"id":"8e8b8f62-44f8-4bd4-a3f5-9241a7301363","name":"Fetch Actions","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1088,112],"retryOnFail":true,"credentials":{"oAuth2Api":{"id":"fMwfb51ZmDQhnbXI","name":"NinjaOne"}}},{"parameters":{"url":"=https://conxion.rmmservice.eu/v2/device/{{ $json.dev_id }}/activities","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"type","value":"ACTIONSET"},{"name":"status","value":"START_REQUESTED"}]},"options":{}},"id":"dee96527-2503-4b4a-9ed4-32891cfb1ad3","name":"Fetch ActionSets","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1088,304],"credentials":{"oAuth2Api":{"id":"fMwfb51ZmDQhnbXI","name":"NinjaOne"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"bd546da3-bd1a-448e-89b7-e22b669312a8","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-864,208]},{"parameters":{},"id":"35cecbf1-a5d2-43d7-bda7-b581fd2a2044","name":"End Batch","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-192,208]},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2208,304],"id":"746cd859-7317-4b7f-bc28-38ee6d29919d","name":"When clicking ‘Execute workflow’"},{"parameters":{"workflowId":{"__rl":true,"value":"WlbimxUbFK98k7kL","mode":"list","cachedResultUrl":"/workflow/WlbimxUbFK98k7kL","cachedResultName":"flow_Devices"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1760,304],"id":"f830768e-a488-40da-be8e-1f614cd1bafc","name":"Call 'flow_Devices'"},{"parameters":{"jsCode":"const allActivities = [];\n\n// 1. Loop door de batch van 20 items die binnenkomen\nfor (const item of $input.all()) {\n  const activities = item.json.activities;\n  if (activities && Array.isArray(activities)) {\n    for (const act of activities) {\n      // Alleen de nodige velden eruit vissen\n      allActivities.push({\n        id: act.id,\n        deviceId: act.deviceId,\n        timestamp: new Date(act.activityTime * 1000).toLocaleString('nl-BE', { \n  timeZone: 'Europe/Brussels',\n  hour12: false // Zorgt voor 24-uurs notatie\n}),\n        scriptName: act.sourceName || (act.data?.message?.params?.action_name) || 'Unknown Script',\n        status: act.activityResult,\n        outputSnippet: act.message ? act.message.substring(0, 500) : ''\n      });\n    }\n  }\n}\n\n// 2. Datum en Mapstructuur bepalen\nconst now = new Date();\nconst year = now.getFullYear();\nconst month = String(now.getMonth() + 1).padStart(2, '0');\nconst day = String(now.getDate()).padStart(2, '0');\nconst timeString = now.toISOString().replace(/[:.]/g, '-');\nconst fullPath = `Activities/${year}/${month}/${day}/batch_${timeString}.json`;\n\n// 3. Omzetten naar een echt bestand (Binair) om \"double quotes\" te voorkomen\nconst jsonString = JSON.stringify(allActivities, null, 2);\nconst binaryData = Buffer.from(jsonString, 'utf-8');\n\n// 4. Output geven die de Azure node direct begrijpt\nreturn {\n  json: {\n    fileName: fullPath\n  },\n  binary: {\n    data: { // Dit wordt de 'Binary Property' in de volgende stap\n      data: binaryData.toString('base64'),\n      mimeType: 'application/json',\n      fileName: fullPath,\n    }\n  }\n};"},"id":"3e3a22ba-9880-44c8-be68-6818f1f146b8","name":"Prepare JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,208]},{"parameters":{"resource":"blob","operation":"create","container":{"__rl":true,"value":"ninjaone-logs","mode":"list","cachedResultName":"ninjaone-logs"},"blobCreate":"={{ $json.fileName }}","options":{},"requestOptions":{}},"type":"n8n-nodes-base.azureStorage","typeVersion":1,"position":[-416,208],"id":"9315661c-fe6b-4c86-9cb9-683d21beda31","name":"Create blob","credentials":{"azureStorageSharedKeyApi":{"id":"hYhMqwgFkQ4qo8Jd","name":"Azure Storage account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[32,280],"id":"83866332-27bc-4af6-aa73-b80b65577d85","name":"Wait","webhookId":"19265778-511b-403e-be3e-e2bd86556a08"}],"connections":{"Schedule Trigger":{"main":[[]]},"Settings":{"main":[[{"node":"Call 'flow_Devices'","type":"main","index":0}]]},"Filter MaxID":{"main":[[{"node":"Batch (20x)","type":"main","index":0}]]},"Batch (20x)":{"main":[[],[{"node":"Fetch Actions","type":"main","index":0},{"node":"Fetch ActionSets","type":"main","index":0}]]},"Fetch Actions":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Fetch ActionSets":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Prepare JSON","type":"main","index":0}]]},"End Batch":{"main":[[{"node":"Wait","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Settings","type":"main","index":0}]]},"Call 'flow_Devices'":{"main":[[{"node":"Filter MaxID","type":"main","index":0}]]},"Prepare JSON":{"main":[[{"node":"Create blob","type":"main","index":0}]]},"Create blob":{"main":[[{"node":"End Batch","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Batch (20x)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8e5ca769-0bbb-4291-85ff-3a37644b3989","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-04T10:33:22.517Z","createdAt":"2026-02-04T10:33:22.517Z","role":"workflow:owner","workflowId":"X7ZKIIzfSmxVoBqKu5tii","projectId":"ItKEwjFTAuyrasU4"}],"activeVersion":null,"tags":[],"error":"The resource you are requesting could not be found"}