My workflow.json
{"updatedAt":"2026-02-02T18:12:15.918Z","createdAt":"2026-02-02T18:02:37.216Z","id":"ddr8uYuQqUZmloGpMDNxq","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"4a0b45fc-c71c-4515-a135-a9b68d41b545","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-272,-96]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"Woutercxn","mode":"list","cachedResultName":"Woutercxn","cachedResultUrl":"https://github.com/Woutercxn"},"repository":{"__rl":true,"value":"n8n_wokflows","mode":"list","cachedResultName":"n8n_wokflows","cachedResultUrl":"https://github.com/Woutercxn/n8n_wokflows"}},"id":"8f442cdd-25e0-4b1f-ad1f-581881d97df6","name":"Lijst GitHub Bestanden","type":"n8n-nodes-base.github","typeVersion":1,"position":[-48,-96],"webhookId":"3e66fb6d-20cf-4768-a9bd-ed5d2690d43e","credentials":{"githubApi":{"id":"H0j6CMxlvP0Geo4H","name":"GitHub account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.name }}","operation":"endsWith","value2":".json"}]}},"id":"b5fcc5e0-4eb4-402f-b3a0-4c31d88cb495","name":"Alleen .json","type":"n8n-nodes-base.filter","typeVersion":1,"position":[176,-96]},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"Woutercxn","mode":"list","cachedResultName":"Woutercxn","cachedResultUrl":"https://github.com/Woutercxn"},"repository":{"__rl":true,"value":"n8n_wokflows","mode":"list","cachedResultName":"n8n_wokflows","cachedResultUrl":"https://github.com/Woutercxn/n8n_wokflows"},"filePath":"={{ $json.path }}","additionalParameters":{}},"id":"b9e3d1df-c6fa-4de8-a21d-ad11dbce2baa","name":"Lees Bestand","type":"n8n-nodes-base.github","typeVersion":1,"position":[400,-96],"webhookId":"2d8911d1-9b47-42c2-b069-734f7e5bbb69","credentials":{"githubApi":{"id":"H0j6CMxlvP0Geo4H","name":"GitHub account"}}},{"parameters":{"method":"POST","url":"JOUW_N8N_URL/api/v1/workflows","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.parse($json.content) }}","options":{}},"id":"6e31289f-1e36-4667-9959-c5fe4944c681","name":"Importeer in n8n","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[624,-96],"credentials":{"httpHeaderAuth":{"id":"7qI0QxpDg0nnI2jb","name":"S1 Header Key"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Lijst GitHub Bestanden","type":"main","index":0}]]},"Lijst GitHub Bestanden":{"main":[[{"node":"Alleen .json","type":"main","index":0}]]},"Alleen .json":{"main":[[{"node":"Lees Bestand","type":"main","index":0}]]},"Lees Bestand":{"main":[[{"node":"Importeer in n8n","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9aea9dbe-f363-42c9-a20c-a7f97b0c782e","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-02T18:02:37.219Z","createdAt":"2026-02-02T18:02:37.219Z","role":"workflow:owner","workflowId":"ddr8uYuQqUZmloGpMDNxq","projectId":"ItKEwjFTAuyrasU4"}],"activeVersion":null,"tags":[]}