Restore to n8n.json
{"updatedAt":"2026-01-30T07:49:45.000Z","createdAt":"2026-01-30T07:49:45.537Z","id":"jpF13hUJZTTpU3BO","name":"Restore to n8n","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"id":"41cb89d5-3cba-463c-bdbf-10f8c86d37fc","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[0,0]},{"parameters":{"url":"=http://localhost:5678/api/v1/workflows","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"60475d22-2591-4de6-b72d-85fc2f88a211","name":"Haal Workflows Op","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[224,0],"credentials":{"httpHeaderAuth":{"id":"Shj4KIx7295xm2ye","name":"Header Auth account"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"20564c2c-2adb-46b4-8d44-932237d7a536","name":"Split Workflows","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[448,0]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"Woutercxn","mode":"list","cachedResultName":"Woutercxn","cachedResultUrl":"https://github.com/Woutercxn"},"repository":{"__rl":true,"value":"n8n_wokflows","mode":"list","cachedResultName":"n8n_wokflows","cachedResultUrl":"https://github.com/Woutercxn/n8n_wokflows"},"filePath":"={{ $json.name }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"={{ $json.name }}","path":"d280a387-dba2-47d0-ab73-898605172134"},"id":"736e8c88-b518-4f33-97bd-92e3ed1264bf","name":"Push naar GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[672,0],"webhookId":"d280a387-dba2-47d0-ab73-898605172134","credentials":{"githubApi":{"id":"H0j6CMxlvP0Geo4H","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"Woutercxn","mode":"list","cachedResultName":"Woutercxn","cachedResultUrl":"https://github.com/Woutercxn"},"repository":{"__rl":true,"value":"n8n_wokflows","mode":"list","cachedResultName":"n8n_wokflows","cachedResultUrl":"https://github.com/Woutercxn/n8n_wokflows"},"filePath":"={{ $json.name }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"={{ $json.name }}","path":"0ade2147-a9d6-4ed1-9f03-7f3d0fd8019c"},"id":"1380e0ad-8633-4c24-905c-a9acd7c5ba21","name":"Push naar GitHub1","type":"n8n-nodes-base.github","typeVersion":1,"position":[896,0],"webhookId":"0ade2147-a9d6-4ed1-9f03-7f3d0fd8019c","credentials":{"githubApi":{"id":"H0j6CMxlvP0Geo4H","name":"GitHub account"}},"onError":"continueErrorOutput"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Haal Workflows Op","type":"main","index":0}]]},"Haal Workflows Op":{"main":[[{"node":"Split Workflows","type":"main","index":0}]]},"Split Workflows":{"main":[[{"node":"Push naar GitHub","type":"main","index":0}]]},"Push naar GitHub":{"main":[[],[{"node":"Push naar GitHub1","type":"main","index":0}]]},"Push naar GitHub1":{"main":[[{"node":"Push naar GitHub","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","timezone":"Europe/Brussels","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2e08fc47-b3d0-4a2e-b2f5-91242d9f5330","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-30T07:49:45.541Z","createdAt":"2026-01-30T07:49:45.541Z","role":"workflow:owner","workflowId":"jpF13hUJZTTpU3BO","projectId":"ItKEwjFTAuyrasU4"}],"activeVersion":null,"tags":[],"error":"The resource you are requesting could not be found"}