Restore to n8n.json
{"updatedAt":"2026-02-02T18:51:02.000Z","createdAt":"2026-01-30T07:49:45.537Z","id":"jpF13hUJZTTpU3BO","name":"Restore to n8n","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"PATCH","url":"=http://localhost:5678/api/v1/workflows/{{ $json.workflowData.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.workflowData) }}","options":{}},"id":"60475d22-2591-4de6-b72d-85fc2f88a211","name":"Haal Workflows Op","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1120,-32],"credentials":{"httpHeaderAuth":{"id":"Shj4KIx7295xm2ye","name":"n8n Header"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-32],"id":"65640e8f-7ada-4d88-ad6e-794b2e832725","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"Woutercxn","mode":"list","cachedResultName":"Woutercxn","cachedResultUrl":"https://github.com/Woutercxn"},"repository":{"__rl":true,"value":"n8n_wokflows","mode":"list","cachedResultName":"n8n_wokflows","cachedResultUrl":"https://github.com/Woutercxn/n8n_wokflows"},"filePath":"="},"id":"736e8c88-b518-4f33-97bd-92e3ed1264bf","name":"GitHub - List Files","type":"n8n-nodes-base.github","typeVersion":1,"position":[224,-32],"webhookId":"d280a387-dba2-47d0-ab73-898605172134","credentials":{"githubApi":{"id":"H0j6CMxlvP0Geo4H","name":"GitHub account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1a203d4a-6087-42b0-baf0-3e328d55a933","leftValue":"={{ $json.name }}","rightValue":"My workflow.json","operator":{"type":"string","operation":"equals"}},{"id":"1946361f-45ed-4a52-8d16-5920d758e092","leftValue":"={{ $json.name }}","rightValue":"Restore to n8n.json","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[448,-32],"id":"c757e15c-371d-44a2-a6e6-58dbca5df3e8","name":"Only .json files"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"Woutercxn","mode":"list","cachedResultName":"Woutercxn","cachedResultUrl":"https://github.com/Woutercxn"},"repository":{"__rl":true,"value":"n8n_wokflows","mode":"list","cachedResultName":"n8n_wokflows","cachedResultUrl":"https://github.com/Woutercxn/n8n_wokflows"},"filePath":"={{ $json.path }}","asBinaryProperty":false,"additionalParameters":{}},"id":"72751cec-afde-45c3-9365-39887ed17c99","name":"GitHub - Get Files","type":"n8n-nodes-base.github","typeVersion":1,"position":[672,-32],"webhookId":"d280a387-dba2-47d0-ab73-898605172134","credentials":{"githubApi":{"id":"H0j6CMxlvP0Geo4H","name":"GitHub account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"try {\n  const base64Content = $json.content.replace(/\\s/g, '');\n  const decodedText = Buffer.from(base64Content, 'base64').toString('utf8');\n  const workflowObject = JSON.parse(decodedText);\n\n  // Verwijder de velden waar de n8n API over struikelt\n  delete workflowObject.id;\n  delete workflowObject.createdAt;\n  delete workflowObject.updatedAt;\n  delete workflowObject.shared;\n  delete workflowObject.tags;\n\n  return {\n    workflowData: workflowObject,\n    // We bewaren het ID apart om in de URL van de volgende node te gebruiken\n    originalId: JSON.parse(decodedText).id \n  };\n} catch (error) {\n  return { error: error.message };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,-32],"id":"6e9f4112-01eb-43ca-bd18-c730e3bd27c6","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1a203d4a-6087-42b0-baf0-3e328d55a933","leftValue":"={{ $json.name }}","rightValue":".json","operator":{"type":"string","operation":"endsWith"}},{"id":"1946361f-45ed-4a52-8d16-5920d758e092","leftValue":"={{ $json.name }}","rightValue":"Restore to n8n.json","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[928,192],"id":"b4f5d849-2782-4176-849b-4957d7bc3d95","name":"Only .json files1"}],"connections":{"Haal Workflows Op":{"main":[[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"GitHub - List Files","type":"main","index":0}]]},"GitHub - List Files":{"main":[[{"node":"Only .json files","type":"main","index":0}],[]]},"Only .json files":{"main":[[{"node":"GitHub - Get Files","type":"main","index":0}]]},"GitHub - Get Files":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Haal Workflows Op","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","timezone":"Europe/Brussels","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"00ec9669-84a8-4e29-b7e3-e48c1a0360e3","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-30T07:49:45.541Z","createdAt":"2026-01-30T07:49:45.541Z","role":"workflow:owner","workflowId":"jpF13hUJZTTpU3BO","projectId":"ItKEwjFTAuyrasU4"}],"activeVersion":null,"tags":[]}