Restore to n8n.json
{"updatedAt":"2026-01-30T08:41:13.656Z","createdAt":"2026-01-30T07:49:45.537Z","id":"jpF13hUJZTTpU3BO","name":"Restore to n8n","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"id":"41cb89d5-3cba-463c-bdbf-10f8c86d37fc","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[0,-16]},{"parameters":{"url":"=http://localhost:5678/api/v1/workflows","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"60475d22-2591-4de6-b72d-85fc2f88a211","name":"Haal Workflows Op","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[448,-16],"credentials":{"httpHeaderAuth":{"id":"Shj4KIx7295xm2ye","name":"Header Auth account"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"Woutercxn","mode":"list","cachedResultName":"Woutercxn","cachedResultUrl":"https://github.com/Woutercxn"},"repository":{"__rl":true,"value":"n8n_wokflows","mode":"list","cachedResultName":"n8n_wokflows","cachedResultUrl":"https://github.com/Woutercxn/n8n_wokflows"},"filePath":"={{ $json.name }}.json","additionalParameters":{}},"id":"736e8c88-b518-4f33-97bd-92e3ed1264bf","name":"GitHub - Edit Files","type":"n8n-nodes-base.github","typeVersion":1,"position":[224,-16],"webhookId":"d280a387-dba2-47d0-ab73-898605172134","credentials":{"githubApi":{"id":"H0j6CMxlvP0Geo4H","name":"GitHub account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"GitHub - Edit Files","type":"main","index":0}]]},"Haal Workflows Op":{"main":[[]]},"GitHub - Edit Files":{"main":[[{"node":"Haal Workflows Op","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","timezone":"Europe/Brussels","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5e013098-16b6-4d23-a1b4-e33bbd30af8a","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-30T07:49:45.541Z","createdAt":"2026-01-30T07:49:45.541Z","role":"workflow:owner","workflowId":"jpF13hUJZTTpU3BO","projectId":"ItKEwjFTAuyrasU4"}],"activeVersion":null,"tags":[]}