Servers - C-drive < 10% free.json
{"updatedAt":"2026-01-29T16:03:12.205Z","createdAt":"2026-01-28T17:21:55.020Z","id":"QGM-VOJ5mw_X30nif09pz","name":"Servers - C-drive < 10% free","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"24c5e78f-7a8f-429b-9511-5eb6fce70475","name":"Start Manueel","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-224,32]},{"parameters":{"url":"https://eu.ninjarmm.com/v2/queries/volumes","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","options":{}},"id":"74480546-0f3e-4f7a-b4c4-3596da2c6007","name":"Get Volumes (Schijven)","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[0,128],"credentials":{"oAuth2Api":{"id":"fMwfb51ZmDQhnbXI","name":"NinjaOne"}}},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"dev_id","field2":"deviceId"}]},"joinMode":"keepEverything","options":{}},"id":"01562a4f-723d-4409-9600-8c84acb055b4","name":"Merge Info & Schijven","type":"n8n-nodes-base.merge","typeVersion":3,"position":[448,32]},{"parameters":{"assignments":{"assignments":[{"id":"44da9996-1178-4cb4-9063-8c4a3b00245a","name":"Organization","value":"={{ $json.org_name }}","type":"string"},{"id":"8da1ffe7-f26e-4e1d-8497-170ab60e549a","name":"Location","value":"={{ $json.loc_name }}","type":"string"},{"id":"2f1dd0e0-1f56-4f0d-bc5b-06609cd93a94","name":"id","value":"={{ $json.dev_id }}","type":"number"},{"id":"8b65c505-796d-4128-8de8-2062ff179d54","name":"systemName","value":"={{ $json.dev_systemName }}","type":"string"},{"id":"c47b083a-a962-4894-a766-5b8e0eab3be3","name":"driveLetter","value":"={{ $json.driveLetter }}","type":"string"},{"id":"71f5feb5-dcf6-4ab4-b8f9-d26253f3d3b1","name":"deviceType","value":"={{ $json.deviceType }}","type":"string"},{"id":"985e7fe7-f398-4265-b03d-8bed6185718a","name":"capacity","value":"={{ ($json.capacity / 1073741824).toFixed(2)}} GB","type":"string"},{"id":"66f5cbd3-b33d-4eda-b3f9-cc1c9d1b3e0a","name":"freeSpace","value":"={{ ($json.freeSpace / 1073741824).toFixed(2) }} GB","type":"string"},{"id":"db6c50d5-c47a-436c-a209-2782838aeb46","name":"freeSpace %","value":"=  {{ (($json.freeSpace / $json.capacity) * 100).toFixed(2) }}%","type":"string"}]},"options":{}},"id":"6a0b069d-4be1-4977-8530-5e6218caba01","name":"Maak Nette Tabel","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,32]},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[224,128],"id":"713f23ed-1962-4aa9-a8f5-a094823f9759","name":"Split Out"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"1234","leftValue":"={{ $json.driveLetter }}","rightValue":"C","operator":{"type":"string","operation":"contains"}},{"id":"5678","leftValue":"={{ $json.dev_nodeClass }}","rightValue":"WINDOWS_SERVER","operator":{"type":"string","operation":"equals"}},{"id":"10062878-c53d-4eab-9484-7135510897b5","leftValue":"={{ ($json.freeSpace / $json.capacity) * 100 }}","rightValue":10,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"id":"9eb76ed4-cecb-41a6-94a9-53d78e6d1e0f","name":"Filter: Server + C < 10%","type":"n8n-nodes-base.filter","typeVersion":2,"position":[672,32]},{"parameters":{"workflowId":{"__rl":true,"value":"zKetWSXXfdOKY2L7G43uA","mode":"list","cachedResultUrl":"/workflow/zKetWSXXfdOKY2L7G43uA","cachedResultName":"Devices with ORG- en LOCname"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[224,-64],"id":"3002af9a-4152-44cf-b50a-6f58c82d5d00","name":"Call 'Devices with ORG- en LOCname'"}],"connections":{"Start Manueel":{"main":[[{"node":"Get Volumes (Schijven)","type":"main","index":0},{"node":"Call 'Devices with ORG- en LOCname'","type":"main","index":0}]]},"Get Volumes (Schijven)":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Merge Info & Schijven":{"main":[[{"node":"Filter: Server + C < 10%","type":"main","index":0}]]},"Maak Nette Tabel":{"main":[[]]},"Split Out":{"main":[[{"node":"Merge Info & Schijven","type":"main","index":1}]]},"Filter: Server + C < 10%":{"main":[[{"node":"Maak Nette Tabel","type":"main","index":0}]]},"Call 'Devices with ORG- en LOCname'":{"main":[[{"node":"Merge Info & Schijven","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"bfa574c1-3675-4fb5-9dcf-8b26920bf457","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-28T17:21:55.022Z","createdAt":"2026-01-28T17:21:55.022Z","role":"workflow:owner","workflowId":"QGM-VOJ5mw_X30nif09pz","projectId":"ItKEwjFTAuyrasU4"}],"activeVersion":null,"tags":[]}